.technologies{
    background-image: url(../../images/background-technology-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
    overflow: hidden;
}

.technologies-container{
    height: 100%;
}

.technologies-header{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.14em;
    color: var(--color-white);
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.technologies-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.technologies-image-container{
    padding: 0 1.5rem !important;
}

.technologies-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-right: 4rem;
}

.technologies-pagination button{
    background-color: transparent;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    transition: 0.4s;
}

.technologies-active{
    background-color: var(--color-white) !important;
    color: var(--color-blue-900) !important;
}


.technologies-image{
    width: 100%;
    display: block;
}

.terminolgy{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--color-white);
    opacity: 0.5;
}

.technology-h4{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 56px;
    text-transform: uppercase;
    color: var(--color-white);
}

.technology-p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: var(--color-blue-300);
}

@media (max-width:992px){
    .technologies-pagination{
        flex-direction: row;
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }

    .technologies-header{
        font-size: 20px;
    }

    .technologies-text-container{
        flex-direction: column;
    }

    .technologies-image{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .technologies-pagination button{
        height: 56px;
        width: 56px;
        font-size: 24px;
    }

    .terminolgy{
        font-size: 24px;
        text-align: center;
        margin-bottom: 1rem;
    }

    .technology-h4{
        font-size: 40px;
        text-align: center;
        margin-bottom: 1rem;
    }

    .technology-p{
        font-size: 16px;
        text-align: center;
        max-width: 512px;
    }
}

@media (max-width:576px){
    .technologies{
        height: 880px;
    }
    
    .technologies-header{
        font-size: 16px;
        text-align: center;
        margin-bottom: 5.5rem;
    }
    
    .technologies-pagination button{
        height: 40px;
        width: 40px;
        font-size: 18px;
    }

    .terminolgy{
        font-size: 18px;
    }

    .technology-h4{
        font-size: 24px;
    }

    .technology-p{
        font-size: 15px;
    }
}