.crew{
    background-image: url(../../images/background-crew-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: clamp(880px, 100vh, 1024px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.crew-h5{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0.14em;
    color: var(--color-white);
    margin-bottom: 220px;
}

.crew-h4{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--color-white);
    opacity: 0.5;
}

.crew-h2{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 56px;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 24px;
}

.crew-p{
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: var(--color-blue-300);
    max-width: 539px;
}

.crew-image{
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.crew-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width:992px){
    .crew-image{
        width: 447px;
        position: absolute;
        bottom: -3.5rem;
    }

    .crew{
        height: 1024px;
        background-image: url(../../images/background-crew-tablet.jpg);
    }

    .crew-h5{
        margin-bottom: 64px;
        margin-top: 7.5rem;
        font-size: 20px;
    }

    .crew-image-container{
        align-items: flex-end !important;
        position: relative;
    }

    .crew .container{
        height: 100% !important;
    }

    .crew-swiper{
        height: 100% !important;
    }

    .crew-row{
        height: 100%;
    }

    .crew-h4, .crew-h2, .crew-p{
        text-align: center;
    }

    .crew-h4{
        font-size: 24px;
    }

    .crew-h2{
        font-size: 40px;
    }

    .crew-p{
        font-size: 16px;
        margin: 0 auto;
    }

}

@media (max-width:576px){
    .crew-image{
        width: 340px;
        bottom: 0;
    }
    
    .crew{
        height: 880px;
        background-image: url(../../images/background-crew-mobile.jpg);
    }
    
    .crew-h4{
        font-size: 18px;
    }

    .crew-h2{
        font-size: 24px;
    }

    .crew-p{
        font-size: 15px;
        margin: 0 auto;
    }

    .crew-h5{
        font-size: 16px;
        text-align: center;
    }
}