:root {
	--color-white: #fff;
	--color-blue-300: #d0d6f9;
	--color-blue-900: #0b0d17;
  --font-family: "Barlow Condensed", sans-serif;
  --second-family: "Bellefair", sans-serif;
  --third-family: "Barlow", sans-serif;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, a{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}